/*--------------css------------*/


body{
    background-color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

#board{
    width: 427px;
    height: 502px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    margin: 80px auto;
    background-color: darkorange;
    
}

#board1{
    width: 847px;
    height: 507px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    margin: 10px auto;
    background-color: darkorange;
    margin: 80px auto;
    
}

/*-------card configuration------------*/

.card{
    width: 100px;
    height: 120px;
    position: absolute;
    border-radius: 10px;
    perspective: 600px; /*make deep vizualization more like 3d flipping*/
    
}

.card:hover{
    box-shadow: 0 0 20px black;
}


/*-----face configuration -face - front/back-------*/
.face{
    width: 100%;
    height: 100%;
    position: absolute;  /*is used to keep the cards in the same position one on top of the other*/
    border-radius: 10px;
    transition: all .5s; /*make us see the cards flipping during transition */
    backface-visibility: hidden; /* make the back of element transparent*/
}

.back{
         background: url(../img/verso.jpg);  
    
}


/*------------flipped configuration-----*/
.back.flipped{
    transform: rotateY(180deg);
}

.front{
     transform: rotateY(-180deg); /* must be minus 180deg because alredy comes with -180deg*/
}

.front.flipped {
    transform: rotateY(0deg); /* it will get -180deg and rotate till get to 0deg again*/
}

/*----------------matched cards---------*/

.face.flipped.match{
    box-shadow: 0 0 30px purple;
}


/*--------------------------------game over ---------------------------*/

#modalGameOver{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -2; /*used o put the final message behind the cards* -- javascript will bring this page to the front*/
}


#imgGameOver{
    margin-top: 100px;
}

#nextlevel {
    margin-top: 200px;
    text-align: center;
}

#clickcounter{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    color: #fff;
    text-align: center;
    font-size: 10px;
}


/*--------------------------------match sign ---------------------------*/

#imgMatchSign{
    position: relative;
    top: 250px;
    transition-property: top, opacity;
    transition-duration: .6s;
    opacity: 1;
    z-index: -1;
}

p {
    color: #fff;
}

h1{
    margin-top: 180px;
    color: #fff;
}



/*---------------------------@media-------------------------------------*/

